@charset "UTF-8";
/* Propiedes imagen background fixed */
/* Margenes de secciones */
/* L├¡nea */
/*STILOS HEADER lissette*/
.menu .navbar-toggle, .menu .nav {
  background-color: #3B3D3F; }
.menu .navbar {
  margin-bottom: 0px;
  width: 100%;
  position: fixed; }
.menu .menu-nav {
  background-color: #3B3D3F;
  height: 70px;
  border: none;
  z-index: 1;
  border-radius: 0px; }
  .menu .menu-nav .navbar-brand {
    margin-top: -30px;
    margin-left: 20px; }
    .menu .menu-nav .navbar-brand img {
      height: 60px;
      width: 250px;
      margin-top: 13px; }
  .menu .menu-nav ul {
    margin-right: 30px; }
  .menu .menu-nav ul li {
    margin-top: 15px;
    font-size: 15px;
    margin: 10px 10px 0px 10px; }
    .menu .menu-nav ul li a {
      color: #FFF; }
  .menu .menu-nav ul li a:hover {
    background-color: #FFF;
    color: #F7BD2A;
    border-radius: 4px;
    font-weight: bold; }
    .menu .menu-nav ul li a:hover:active {
      color: #F7BD2A; }

.presentacion {
  background-image: url("../img/star_bg.jpg"); }
  .presentacion body {
    margin: 0; }
  .presentacion .fondo {
    background-size: cover; }
  .presentacion .fondo-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; }
  .presentacion .modulo-alto {
    min-height: 80vh; }
  .presentacion .tittle {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 30%;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg); }
  .presentacion .titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, black 0%, transparent 100%);
    pointer-events: none; }
  .presentacion #content {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 1s 1; }
@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
  .presentacion h1 {
    font-family: "STARWARS";
    font-size: 140px;
    color: #F7BD2A;
    text-align: center;
    margin-top: 80px; }
  .presentacion p {
    color: #F7BD2A; }
    .presentacion p h2 {
      color: #F7BD2A;
      font-size: 100px; }

/* RESPONSIVE */
@media (max-width: 767px) {
  .menu-nav {
    height: 300px; }
    .menu-nav ul li a {
      margin-bottom: 10px; }

  #content {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 1s 1; }

  @keyframes scroll {
    0% {
      top: 100%; }
    100% {
      top: -170%; } } }
h2 {
  font-family: "STARWARS"; }

/* Programaci├│n */
.programacion {
  padding: 30px 0px;
  height: auto; }
  .programacion hr {
    width: 50px;
    background-color: #F7BD2A;
    border: 1px solid #F7BD2A;
    margin-top: 10px;
    margin-bottom: 30px; }
  .programacion .horario {
    height: 150px;
    margin-bottom: 20px;
    min-width: 200px;
    background-color: #F2F6F7;
    padding: 10px; }
    .programacion .horario .box-hora {
      width: 85px;
      height: 85px;
      background-color: #F7BD2A;
      float: left;
      color: white;
      font-size: 25px;
      padding: 10px;
      margin-right: 20px;
      text-align: left; }
  .programacion .actividad {
    padding-top: 2px; }
    .programacion .actividad h5 {
      margin-bottom: -5px; }

/* Colaboradores */
.colaboradores {
  padding: 30px 0px; }
  .colaboradores hr {
    width: 50px;
    background-color: #F7BD2A;
    border: 1px solid #F7BD2A;
    margin-top: 10px;
    margin-bottom: 30px; }
  .colaboradores img {
    height: auto;
    margin-bottom: 20px; }
    .colaboradores img.laboratoria {
      margin-top: 50px;
      width: 100%; }
    .colaboradores img.blanco {
      margin-top: 10px;
      width: 100%; }
    .colaboradores img.fabrica {
      margin-top: 20px;
      width: 90%; }
    .colaboradores img.sol {
      width: 75%; }

/*# sourceMappingURL=main.css.map */
