h1, h2 {
	font-family:"STARWARS";
}

p, h4, h6, li>a {
	font-family: $tipo_norm;
}




/* Que es */
.que-es{
	@include marginsecciones;
	h1{
	padding-bottom: 2%;
	text-align: center;
	}
	p{
	font-size: 18px;
	text-align: justify;
	margin-bottom: 20px;
	margin-top: 2%;
	h3 
	{
		margin-left:300px;
	}
	}
	img{
	width:80%;
	}
	
	h5
	{
		
		font-size:11px;
		margin-top:-30px;
		color:$black;
		
	}
	.boton-amarillo{
	background-color:$yellow;
	width: 180px;
	border-radius: 5px;
	text-align:center;
	margin: 40px auto 50px 0px;
	border: none;
	padding-bottom: 8px;
		.logo-1 {
			width: 85%;
			height: auto;
		}
	}
	.boton-amarillo:hover {
	-webkit-box-shadow: 0px 1px 17px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 17px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 17px 1px rgba(0,0,0,0.4);
	}
	

}


/* Programación */
.programacion {
	@include marginsecciones;
	@include linea;
	height: auto;
	  p {
	    font-size: 16px;
	  }
	.horario {
		height: 150px;
		margin-bottom: 20px;
		min-width: 200px;
		background-color: $grey;
		padding: 12px;
		border: 1px solid $yellow;
		.box-hora {
			width: 85px;
			height: 85px;
			background-color: $yellow;
			float: left;
			color: white;
			font-size: 25px;
			padding: 10px;
			margin-right: 20px;
			text-align: left;
		}
	}
	.actividad {
		margin-top: -5px;
		h5 {
			margin-bottom: -5px;
		}
		h4 {
			font-weight: bold;
		}
		p {
			font-size: 14px;
		}
	}
}


/* Colaboradores */
.colaboradores {
	@include marginsecciones;
	@include linea;
	  p {
	    font-size: 16px;
	  }
	img {
		height: auto;
		margin: 0px 0px 20px 0px;
		display: inline;
		&.laboratoria {
			width: 50%;
			margin-top: 10px;
		}
		&.blanco {
			width: 40%;
		}
		&.fabrica {
			width: 40%;
		}
		&.gitlab {
			width: 25%;
			margin-right: 20px;
		}
		&.sol {
			width: 30%;
		}
	}
}

/* Hashtag */
.hashtag {
	@include marginsecciones;
	background-image: url("../img/star_bg.jpg");
	padding: 50px 0px;
	max-height: 250px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	vertical-align: middle;
	a:hover {
		text-decoration: none;
	}
	h1, {
		font-family:"STARWARS";
		color: $yellow;
		font-size: 50px;
		margin-bottom: 30px;
	}
	@keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-webkit-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-ms-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-moz-keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	.btn-force {
		width: 220px;
		height: 50px;
		background-color:$white;
		color:$yellow;
		border-radius:4px;
		font-weight:bold;
		border: 3px solid $yellow;
		margin-top: -5px;
		font-size: 20px;
		text-align: center;
		a {
			color: $yellow;
		}
	}
	.btn-force:hover {
		color:$white;
		background-color:$yellow;
		border-radius:4px;
		border: 3px solid $yellow;
		font-size: 20px;
		-webkit-box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		-moz-box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		a {
			color: $white;
		}
	}
}





