/* Style Jedi Masters */  
#maestros-jedi {
  background-color: rgba(0, 0, 0, 0.1);
  @include linea;
  @include marginsecciones;
  p {
    font-size: 16px;
  }
  .titlejedi{
  text-align: center;
  font-family: "STARWARS";
  }
  .jedi-text {
    h5 {
      font-family:"STARWARS";
      margin-bottom: -10px;
    }
    h6 {
      margin-bottom: 5px;
    }
  }
  
}
.name-jedi{
  width: 100%;
  padding-top: 300px;
  color: $white;
  font-size: 25px;
  margin-bottom: 1%;
  position: absolute;
  display: block;
  bottom: 40px;
  text-align: center;
  h5 {
    font-family: $tipo_norm;
    font-weight: bold;
    margin-bottom: -5px;
  }
  &:hover{
    color: #E5E5E5;
  }
}
.name-jedi:hover,
.name-jedi:after {
  display: none;
  opacity: 0;
}
.red-icon{
  margin: 0 2%;
  color:$black;
  margin-bottom: 20px;
  &:hover{
    color:$yellow;
    text-decoration: none;
  }
}
.jedi {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 0px;
}
.jedi .jedi-img {
  display: block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #ccc;
  margin-bottom: 8%;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.jedi .jedi-text {
  position: absolute;
  z-index: -1;
  display: block;
  bottom: 40px;
  width: 100%;
  text-align: center;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.jedi:hover .jedi-img {
  -webkit-transform: 0px -30px 0.5;
  -moz-transform: 0px -30px 0.5;
  -o-transform: 0px -30px 0.5;
  -ms-transform: 0px -30px 0.5;
  transform: 0px -30px 0.5;
  transform: translate(0px, -30px) scale(0.5);
  -webkit-transform: translate(0px, -30px) scale(0.5);
  -moz-transform: translate(0px, -30px) scale(0.5);
  -o-transform: translate(0px, -30px) scale(0.5);
  -ms-transform: translate(0px, -30px) scale(0.5);
  border-radius: 50%;
  vertical-align: top;
  .name-jedi:hover,
  .name-jedi:after {
    display: none;
  }
}
.jedi:hover .jedi-text {
  z-index: 6;
  color: $black;
  -webkit-transform: 0px 0px 2;
  -moz-transform: 0px 0px 2;
  -o-transform: 0px 0px 2;
  -ms-transform: 0px 0px 2;
  transform: 0px 0px 2;
  transform: translate(0px, 0px) scale(2);
  -webkit-transform: translate(0px, 0px) scale(2);
  -moz-transform: translate(0px, 0px) scale(2);
  -o-transform: translate(0px, 0px) scale(2);
  -ms-transform: translate(0px, 0px) scale(2);
  .name-jedi:hover,
  .name-jedi:after {
    display: none;
  }
}
/* Style Jedi Masters */ 
.jedi{
  &:hover{
    .name-jedi{
      opacity: 0;
    }
  }
}