.mainfooter{ 
	
	background-color: $black;
	padding: 40px 0px;
	
}

.footerwidget {

	padding: 0px 20px 0px 20px; 
	padding-right: 97px;
	p{
		@include letras;
		padding-top: 29px;

	}
	a {
			color:$yellow;
		}
}

.foot {
	 p{
		@include letras;
		padding-top: 20px;
	}
	iframe{
		padding-top:10px;
	}
}

.foot {
	h3{
		@include texto5;
		margin-bottom: -10px;
	}
}


.foot2{
	h3{
		@include texto5;
		margin-bottom: 0px;
	}
	.icons {
		@include iconos;
		z-index: 1;
	}
	.socialNetwork {
		li {
			width: 220px;
			height: 50px;
			@include lista4;
			a {
				display: block;
				color: white;
				width: 120px;
				height: 30px;
			}
			span {
				vertical-align: super;
			}
		}
	}
	li:hover,
	i:hover {
		color: $yellow;
	}
	
	li > a:hover {
		color: $yellow;
		text-decoration: none;
	}
}



.citripio{
	@include cit;
	margin-top: 20px;
	img{
		height: 100px;
		width: 100px;
		margin-bottom: -10px;
	}
	h6
	{
		font-weight:bold;
	}
}
