.mainfooter{ 
	
	background-color: $black;
	padding-top: 40px;
	
}

.foot2{
	.icons {
		@include iconos;
		&:hover {
		color: $yellow;
		cursor: pointer;
		}
	}
	ul 
	li{
		@include lista4;
		a{
			color:white;
		}
	}
	ul > li a:hover {
		color: $yellow;
		cursor: pointer;
		text-decoration: none;
	}
}

.footerwidget {

	padding: 0px 20px 0px 20px; 
	padding-right: 97px;
	p{
		@include letras;
		padding-top: 29px;

	}
	a {
			color:$yellow;
		}
}

.foot {
	 p{
		@include letras;
		padding-top: 20px;
	}
	h3 {
		@inlcude letras;
	}
	iframe{
		padding-top:10px;
	}
}

.citripio{
	@include cit;

	img{
		height: 100px;
		width: 100px;
	}
}

.foot {
	h3{
		@include texto5;
	}
}

.foot2{
	h3{
		@include texto5;
	}
}
