/* Propiedes imagen background fixed */
@mixin imagen-bg {
	body{
	  margin: 0;
	}
	.fondo{
	  background-size: cover;
	}
	.fondo-fixed{
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-position: center center;
	}
	.modulo-alto {
	  min-height: 100vh;
	}
}

/* Margenes de secciones */
@mixin marginsecciones {
	padding: 30px 0px;
}

/* Línea */
@mixin linea {
	hr {
		width: 50px;
		background-color: $yellow;
		border: 1px solid $yellow;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}


/* Botón */
@mixin followboton {
	.btn-force {
		width: 220px;
		height: 50px;
		background-color:$white;
		color:$yellow;
		border-radius:4px;
		font-weight:bold;
		border: 3px solid $yellow;
		margin: 10px auto;
		font-size: 20px;
		text-align: center;
		padding-top: 8px;
		a {
			color: $yellow;
		}
	}
	.btn-force:hover {
		color:$white;
		background-color:$yellow;
		border-radius:4px;
		border: 3px solid $yellow;
		font-size: 20px;
		-webkit-box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		-moz-box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		box-shadow: 0px 1px 17px 1px rgba(252,249,252,1);
		a {
			color: $white;
		}
	}
}



@mixin iconos {
	font-size: 30px;
	color: $white;
	margin-right: 10px;
}

@mixin letras{
	color: $white;
	font-family: $tipo_norm;
}

@mixin cit{
	text-align: center;
	font-family: $tipo_norm;
	color: $white;

}

@mixin lista4{
	list-style: none;
	padding: 10px;
	color: $white;
	margin-left: -40px;
	width: 150px;
	height: 50px;
}

@mixin texto5 {
	font-family: "STARWARS";
	color: $white;
	padding-bottom: 20px;
	margin-top: 30px;
}
